<div class="min-vh-100 d-flex flex-column 
justify-content-between">

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col mt-5">
            <h1 class="text-center text-uppercase title">{{title}}</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>


<footer class ="footer d-flex align-items-center justify-content-center mt-5">
    <div class="container-fluid my-5 text-center">
        <span>by Madis Pihlasalu</span>
    </div>
</footer>
</div>
