/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body{
font-family: 'Oswald', sans-serif;
letter-spacing: 2px;
}

input {
    letter-spacing: 2px;
}

h2 {
color:#FF6D0A;

}

.nav-link{
font-size: 1.5rem;

}
.footer{
    bottom:0;
    height: 100px;
    font-size: 1.5rem;
    background-color: black;
    color:white;
    opacity:0.9;
    width: 100%;
}

.invalid-input{
    color:red;
}

.form-group{
   padding: 10px;
   vertical-align: middle;
   
}

label{
    padding:5px;
}

form{
    border: solid 1px #003333;
   
}
